<%= turbo_frame_tag 'primary_frame' do %>
  <div class="min-h-full">
    <div class="primary-card">
      <div class="mx-auto pt-6 sm:px-6 lg:px-8">
        <div class="flex flex-row">
          <strong class="mr-4">Federal Tax Brackets</strong>
          <%= link_to 'New federal tax bracket', new_federal_tax_bracket_path, class: "btn btn-primary" %>
        </div>
      </div>

      <div class="mx-auto py-6 sm:px-6 lg:px-8">
        <div class="grid grid-cols-7">
          <% tax_headings = ["Filing Status", "Tier", "From", "To", "Rate", "Cumulative"] %>
          <% tax_headings.each do |tax_heading| %>
            <div>
              <strong><%= tax_heading %></strong>
            </div>
          <% end %>
          <div> </div>
        </div>

        <%= render @federal_tax_brackets %>
      </div>
    </div>
  </div>
<% end %>
