<div class=" py-6 sm:px-6 lg:px-8">
  <div class="grid grid-cols-6">
    <% tax_headings = %w[Tier From To Rate Cumulative] %>
    <% tax_headings.each do |tax_heading| %>
      <div>
        <strong><%= tax_heading %></strong>
      </div>
    <% end %>
    <div> </div>
  </div>

  <%= turbo_frame_tag :federal_tax_brackets do %>
    <%= render @federal_tax_brackets %>
  <% end %>
</div>
