<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing federal tax bracket</h1>

  <%= turbo_frame_tag @federal_tax_bracket do %>
    <%= render "form", federal_tax_bracket: @federal_tax_bracket %>
  <% end %>

  <%= link_to "Show this federal tax bracket", @federal_tax_bracket, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to federal tax brackets", federal_tax_brackets_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
