<%= form_with url: income_switch_url, local: true do |form| %>
  <label class="relative inline-flex items-center cursor-pointer">
    <%= form.check_box :enabled, class: "sr-only peer", onchange: "this.form.requestSubmit()" %>
    <div class="w-11 h-6 bg-gray-800 peer-focus:outline-none rounded-full peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-primary-purple"></div>
  </label>
<% end %>