<ul class="flex flex-wrap text-sm font-medium text-center text-gray-500 border-b border-gray-200">
  <li class="mx-auto">
    <a href="<%= root_path %>" aria-current="page" class="inline-block p-4 text-blue-600 bg-gray-100 rounded-t-lg active">Budget Calculator</a>
  </li>
  <li class="mx-auto">
    <%= link_to "Federal Tax Brackets", federal_tax_brackets_path, data: { turbo_stream: true }, class: "inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50" %>
  </li>
  <li class="mx-auto">
    <a href="#" class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">State Income Tax</a>
  </li>
  <li class="mx-auto">
    <a href="#" class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">Incomes</a>
  </li>
  <li class="mx-auto">
    <a href="#"  class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">Fixed Expenses</a>
  </li>
</ul>
