<% paid_taxes = [ taxed_income.federal_income_tax, taxed_income.fica_tax, taxed_income.state_tax, taxed_income.total_net_income ] %>

<% paid_taxes.each do |tax| %>
  <% if annual %>
    <div class="px-5"><%= humanized_money_with_symbol(tax) %></div>
  <% else %>
    <div class="px-5"><%= humanized_money_with_symbol(tax / 26) %></div>
  <% end %>
<% end %>