<strong>Income After Taxes</strong>
<div class="grid grid-cols-6">
   <% fixed_headings = ["Income Type", "Federal Tax Paid", "State Tax Paid", "Annual Income", "Bi-weekly Income"] %>
  <% fixed_headings.each do |fixed_heading| %>
    <div class="px-5 pt-4"><strong><%= fixed_heading %></strong></div>
  <% end %>
</div>

<div class="grid grid-cols-6">
  <div class="px-5">Salary</div>
  <%= render partial: "shared/taxed_income", locals: { taxed_income: salary_taxed} %>
</div>

<div class="grid grid-cols-6">
  <div class="px-5">Hourly</div>
  <%= render partial: "shared/taxed_income", locals: { taxed_income: hourly_taxed} %>
</div>
