<div class="px-5"><%= humanized_money_with_symbol(taxed_income.federal_tax) %></div>
<div class="px-5"><%= humanized_money_with_symbol(taxed_income.state_tax) %></div>
<div class="px-5"><%= humanized_money_with_symbol(taxed_income.total_net_income) %></div>
<div class="px-5"><%= humanized_money_with_symbol(taxed_income.bi_weekly_net_income) %></div>