<div class="grid grid-cols-5">
    <div class="px-5">
      <strong>Total</strong>
    </div>

    <div>
      <strong>
        <%= render partial: "shared/total", locals: { total: @totals.total_annual_cost } %>
      </strong>
    </div>

    <div>
      <strong>
        <%= render partial: "shared/total", locals: { total: @totals.total_monthly_cost } %>
      </strong>
    </div>

    <div>
      <strong>
        <%= render partial: "shared/total", locals: { total: @totals.total_bi_weekly_cost } %>
      </strong>
    </div>
</div>
