<%= turbo_frame_tag dom_id(income) do %>
  <div class="grid grid-cols-6 pb-1">
    <% attributes = [income.income_type, humanized_money_with_symbol(income.rate), income.hours, humanized_money_with_symbol(income.weekly_income)] %>
    <% attributes.each do |attribute| %>
      <div class="px-5"><%= attribute %></div>
    <% end %>
    <div class="px-5"><%= link_to "Edit", edit_income_path(income), class:"btn btn-primary" %></div>
  </div>
<% end %>
