<strong>Net Income</strong>
<div class="grid grid-cols-6">
  <% income_headings = ["Income Type", "Rate", "Hours", "Weekly Gross"] %>
  <% income_headings.each do |income_heading| %>
    <div class="px-5"><strong><%= income_heading %></strong></div>
  <% end %>
</div>

<%= render @incomes %>
