<div id="salary_budget_labels" class="grid grid-cols-6">
  <div class="px-5 py-4 col-2">
    Fixed Expense
  </div>

  <div class="px-5 py-4 col-1">
    Investing
  </div>

  <div class="px-5 py-4 col-1">
    Savings
  </div>

  <div class="px-5 py-4 col-1">
    Guilt Free
  </div>
</div>