<div id="hourly_budget" class="py-4">
  <strong>Hourly</strong>
  <%= render partial: "budget/budget_headings" %>
  <%= render partial: "shared/budget", locals: {totals: totals, income: income} %>
</div>