<%= turbo_frame_tag "hourly_budget" do %>
  <div id="hourly_budget" class="py-4">
    <strong>Hourly</strong>
    <%= render partial: "budget/budget_headings" %>
    <%= render partial: "shared/budget", locals: { total_annual_cost: total_annual_cost, total_monthly_cost: total_monthly_cost, total_bi_weekly_cost: total_bi_weekly_cost, income: income } %>
  </div>
<% end %>