<%= turbo_frame_tag "salary_budget" do %>
  <div id="salary_budget" class="py-4">
    <strong>Salary</strong>
    <%= render partial: "budget/budget_headings" %>
    <%= render partial: "shared/budget",
               locals: {
                 total_cost: total_cost,
                 investing_amount: investing_amount,
                 savings_amount: savings_amount,
                 guilt_free: guilt_free
               }
    %>
  </div>
<% end %>
