<%= turbo_frame_tag "salary_budget" do %>
  <div id="salary_budget" class="py-4">
    <strong>Salary</strong>
    <%= render partial: "budget/budget_headings" %>
    <% Rails.logger.debug "*** Salary_budget #{savings_amount.daily_saving}" %>
    <%= render partial: "shared/budget",
               locals: {
                 total_annual_cost: total_annual_cost,
                 total_monthly_cost: total_monthly_cost,
                 total_bi_weekly_cost: total_bi_weekly_cost,
                 income: income,
                 investing_amount: investing_amount,
                 savings_amount: savings_amount
               } %>
  </div>
<% end %>
