<div class="grid grid-cols-6">
  <% fixed_headings = ["Expense Name", "Annual Cost", "Monthly Cost", "Bi-weekly Cost"] %>
  <% fixed_headings.each do |fixed_heading| %>
    <div class="px-5 py-4"><strong><%= fixed_heading %></strong></div>
  <% end %>
</div>

<%= render @fixed_expenses %>

<%= turbo_frame_tag "total_costs" do %>
  <%= render partial: "shared/total_costs", locals: { totals: @totals } %>
<% end %>
