<%# locals: (fixed_expenses:) %>

<%= turbo_frame_tag :fixed_expenses do %>
  <div class="primary-card">
    <div class="mx-auto py-6 sm:px-6 lg:px-8">
      <strong class="mr-4">Fixed Expenses</strong>
      <%= render "fixed_expenses/new_button" %>

      <div id="fixed_expense_labels" class="grid grid-cols-5">
        <% fixed_headings = %w[Expense Annual Monthly Bi-weekly] %>
        <% fixed_headings.each do |fixed_heading| %>
          <div class="px-5 pt-4"><strong><%= fixed_heading %></strong></div>
      <% end %>
      </div>

      <%= render fixed_expenses %>
    </div>
  </div>
<% end %>
