@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply rounded-lg px-4 bg-primary-purple inline-block font-medium text-white;
  }

  .btn-danger {
    @apply rounded-lg px-4 bg-red-600 inline-block font-medium text-white;
  }

  .btn-secondary {
    @apply rounded-lg px-4 bg-blue-600 inline-block font-medium text-white;
  }

  h1 {
    @apply text-3xl font-bold tracking-tight text-gray-800
  }

  h3 {
    @apply text-2xl font-bold tracking-tight text-gray-800;
  }

  .flex-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .flex-item {
    order: 5;
  }

  .primary-card {
    background-color: white;
    box-shadow: #2E2F30;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    color: #2b2b2b;
  }

  .active-toolbar-tab {
    background-color: white;
    display: inline-block;
    padding: 16px;
    color: #5521B5;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  .inactive-toolbar-tab {
    display: inline-block;
    padding: 16px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  .inactive-toolbar-tab:hover {
    color: rgb(75 85 99);
    background-color: rgb(249 250 251);
  }

  input[type="radio"].radio-button:checked {
    background-color:#5521B5;
    border:1px solid black;
  }
}


